:root {
	/* Silver family */
	--silver: "#f7f7f7";
	--silver-light: "#838ba1";
	--silver-lighter: "#eaebee";
	--silver-dark: "#c4c8d1";
	/* Gray family */
	--gray: "#38404d";
	--gray-light: "#f8f9fe";
	--gray-lighter: "#ccd8ed";
	/* Blue family */
	--blue: "#3c74ff";
	--blue-light: "#1a2d5e";
	--blue-lighter: "#c9d8ff";
	--blue-lighter-1: "#eaf2ff";
	--blue-dark: "#2459f1";
	--blue-darker: "#3e6eff";
	/* Yellow family */
	--yellow: "#ffcb00";
	--yellow-light: "#fff3bf";
	/* Green family */
	--green: "#00ca88";
	--gray-darker: "#50586e";
	--font-family: "Roboto Mono", monospace;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import "~antd/dist/antd.css";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f6f7fc !important;
	color: #38404d !important;
	cursor: default;
	font-family: var(--font-family) !important;
}
